#header-site{
    padding: 30px;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    color: aliceblue;
}

#nav-header ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

#header-site #nav-header{
    padding: 5px 0;
    height: 40px;
}

.item-nav-header a{
    text-decoration: none;
    color: aliceblue;
}

.item-nav-header a:hover{
    border-bottom: 1px solid aliceblue;
}